{% extends 'base.html' %}

{% block title %}{{ category.title }} | {% endblock %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'frontpage' %}">Home</a></li>
           
            <li class="is-active"><a href="{% url 'category_detail' category.slug %}">{{ category.title }}</a></li>
        </ul>
    </nav>

    <h1 class="title">{{ category.title }}</h1>

   

    {% with products as list_products %}
        {% include 'parts/product_list.html' %}
    {% endwith %}
{% endblock %}