{% extends 'base.html' %}

{% block title %}Contact | {% endblock %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            border-radius: 20px;
        }

        label {
            margin-top: 10px;
           
            border-radius: 20px;
        }

        input, textarea {
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 3px;
            border-radius: 20px;
        }

        #butbut {
           
            border-radius: 3px;
            padding: 10px 20px;
            
            border-radius: 20px;
        }

        
    </style>
    <title>Contact Us</title>
    
    
    <div class="container">
        <h1><b>Contact Us</b></h1>
        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" required></textarea>
            
            <button id= "butbut" class="button is-success" type="submit">Submit</button>
        </form>
    </div>
    
{% endblock %}